<!-- templates/About.html -->
{% extends 'base.html' %}

{% block content %}
     <p>
         <h1 style="color:black;"> Welcome To Your Open Mic!</h1>
         <h2 style="color:black;"> This purpose of this site is for you to share videos of performances that you're most proud of.</h2>
         <h2 style="color:black;"> If you're sharing someone else's performance, please get their permission first. Upload your video to YouTube, then click 'Add New Video', and follow the instructions to embed.</h2>
         <h3 style="color:black;"> Don't forget to comment on other peoples' videos, and use the comments section to post about upcoming gigs.</h3>
    </p>
{% endblock %}
