<!-- templates/About.html -->
{% extends 'base.html' %}

{% block content %}
     <p>
         <h1 style="color:black;"> Welcome To Your Open Mic!</h1>
         <h2 style="color:black;"> This site exists as a community of musicians sharing videos of performances they are particularly proud of!</h2>
         <h2 style="color:black;"> Please upload your video to YouTube first, then click 'Add New Video', and follow the instructions to embed your video!</h2>
         <h3 style="color:black;"> Don't forget to comment on other peoples' videos! Also, feel free to use the comments section to post about upcoming gigs!</h3>
    </p>
{% endblock %}
