<!-- templates/About.html -->
{% extends 'base.html' %}

{% block content %}
<div id="demotext">
     <p>
         <h1 style="color:black;"> Welcome To Your Open Mic!</h1>
         <h2 style="color:black;"> I created this site in the spirit of the Open Mic,</h2>
         <h2 style="color:black;"> where musicians of all skill levels </h2>
         <h2 style="color:black;"> gather together to perform for one another. </h2>
         <h2 style="color:black;"> All are welcome! </h2>
         <h2 style="color:black;"> Upload your video to YouTube, then click 'Add New Video', </h2>
         <h2 style="color:black;"> and follow the instructions to embed.</h2>
         <h3 style="color:black;"> If you're sharing someone else's performance, </h3>
         <h3 style="color:black;"> please get their permission first.</h3>
    </p>
    </div>
{% endblock %}
